 @media only screen and (min-width: 2001px) {

		body {border:2px solid red;}
		/*Top Bar*/	
		.top_bar {
			margin-top:1vh;
			width:100%;
			display:block;
			border:2px solid black;
			height:20vh;
			
		}
		.t_left {
			font-weight:bold;
			font-size:40px;
			height:100%;
			display:inline-block;
			width:100%;
			
			
		}
		.t_left img {
			display:inline-block;
			width:8vw;
			height:8vw;
			vertical-align:top;
			margin-top:;
			border:none;
			padding:2px;
			box-shadow: -10px -10px -10px grey;
		}
		.t_left h3 {
			display:inline-block;
			font-weight:bold;
			font-size:2vmax;
			vertical-align:top;
			margin-left:0;
		}
		.icons {
			width:40%;
			text-align:right;
			display:inline-block;
			vertical-align:top;

		}
		.icons a {
			margin-right:1px;
			font-size:3vw;

			}

		.seeMyCvDiv {
			width:100%;
			display:inline-block;
			text-align:right;
		}
		.seeMyCvDiv button {
			background-color: darkorange;
 			color:black;
 			font-size:2vw;
 			padding: 5px 5px;
 			border: none;
 			cursor: pointer;
			border-radius: 5px;
 			font-weight:bold;
 			vertical-align:;
 			margin-right:10vw;

		}
		.seeMyCvDiv button:hover {
			background-color: black;
  			color: white;
		}
		/*Mixed.................*/
		.heading {
			font-size:5vw;
			color:black;
		}
		.subheads {
		font-size:2vw;
		color:darkslategrey;
		width:100%;
	}
/*Introduction and gif*/
	.intro {
		width:100%;
		border:2px solid black;
		height:80vh;
	}
	.in_left {
		width:69%;
		display:inline-block;
		vertical-align:top;
		
	}
	.work, .intro, .abtMe, .contact {
		
		
	}

	.in_left p {
		display:inline-block;
	}
	/*......im..*/
	.im {
		font-weight:bold;
		font-size:3vw;
		display:inline-block;
		vertical-align:top;
		margin-top:6%;
		float:left;
	}
	.im_all {
		height:auto;
		margin-top:5px;
	}
	.im_all, .in_details {
		vertical-align:top;
		text-align:center;
	}
	.brF, .brL {
		color:darkorange;
		font-weight:bold;
		font-size:8vw;
		display:inline-block;
		vertical-align:top;
		margin-top:0px;
		margin-bottom:0;
	}
	.brF {
		float:left;
		margin-right:1%;
	}
	.brL {
		float:right;
		margin-right:;
	}

	.in_left ul{
		display:inline-block;
		vertical-align:top;
		margin-top:6%;
		margin-bottom:0px;
		margin-left:1%;
		padding:0px;
		text-align:left;
		float:left;
	}
	.in_left ul li {
		list-style:none;
		text-align:left;
		font-size:3vw;
  		font-weight:bold;
  		vertical-align:top;
  		display:none;
  		width:100%;
	} 
	.in_left .in_details p {
		font-size:2.5vw;
		padding-top:0;
		margin-top:0;
		font-family:sans-serif;
		width:90%;
		text-align:center;
	}

	.in_right {
		width:30%;
		display:inline-block;
		float:right;
		border:1px solid black;
	}
	.in_right img {
		width:20vw;
		height:20vw;
		display:inline-block;
		background-color:white;
		float:left;
	}

	/*Work ...*/

	.work {
		margin-top:1vw;
	}
	/*Publication*/
	.publication {
  		
	}
	.pub_room {
	}
	.pub_box {
		text-align:left;
		width:30vw;
		height:45vw;
		font-size:2.3vw;
		display:inline-block;
		background-color:aliceblue;
		padding-left:10px;
		margin-right:15px;
		transition: 0.2s;
		box-shadow: 0 0 5px 2px grey;
		position:relative;
	}
	.pub_head, .pub_on, .pub_date, .pub_btn {
		width:100%;
	}
	.pub_head {
		font-size:0.8em;
	}
	.pub_on {
		font-size:0.9em;
	}
	.pub_date {
		font-size:0.8em;
	}
	.pub_btn {
		width:100%;
		vertical-align:bottom;
		position:absolute;
		bottom:5px;
		width:90%;
		text-align:left;
	}
	.pub_btn button {
  		background-color: darkorange;
 		color: black;
 		font-size: 8px;
 		padding: 5px 5px;
 		border: none;
 		cursor: pointer;
		border-radius: 5px;
 		text-align: center;
 		font-weight:bold;
		}
	.pub_btn button:hover {
		background-color: black;
  		color: white;
		}
		/*Projects*/
	.proj_room {}
	.proj_box {
		text-align:left;
		width:28%;
		font-size:2vw;
		height:56vw;
		display:inline-block;
		background-color:aliceblue;
		padding-left:10px;
		margin-right:4px;
		vertical-align:top;
		position:relative;
		transition: 0.2s;
		box-shadow: 0 0 5px 2px grey;
	}
	.proj_box:hover { 
		opacity:0.9;
	 }
	.proj_icon {
		width:80%;
		text-align:center;
	}
	.proj_box img {
		width:30px;
		height:30px;
		border-radius:50%;
		text-align:center;
	}
	.proj_head {
		width:100%;
		font-size:1.2em;
	}
	.proj_intro {
		width:100%;
		font-size:0.9em;
	}
	.proj_date {
		width:100%;
		font-size:0.8em;
		vertical-align:bottom;
	}
	.proj_btn {
		width:100%;
		vertical-align:bottom;
		position:absolute;
		bottom:5px;
		width:90%;
		text-align:left;
	}
	.proj_btn button {
		background-color: darkorange;
 		color: black;
 		font-size: 8px;
 		padding: 5px 5px;
 		border: none;
 		cursor: pointer;
		border-radius: 5px;
 		text-align: center;
 		font-weight:bold;
		
		}
	.proj_btn button:hover {
		background-color: black;
  		color: white;
		}
	.proj_btn button:focus {
			border:none;
		}
	/*Skills*/
	.skills {
	}
	.ik_room {

	}
	.ik_box {
	text-align:center;
	width:23%;
	height:20vw;
	display:inline-block;
	vertical-align:top;
	background-color:aliceblue;
	transition: 0.2s;
	box-shadow: 0 0 5px 2px grey;
	
	}
	.ik_box div:nth-child(1) {
		height:50%;
		font-size:3vw;
		background-color:ghostwhite;
		position:relative;
	}
	.iconify {
		font-size:6vw;
		margin-top:10%;
	}

	.ik_box div:nth-child(2) {
		height:50%;
		font-size:4vw;
		background-color:black;
		color:white;
	}
	.ik_name {
		font-size:2vw;
		vertical-align:text-bottom;
	}
	
	/*Tools and Technologies*/
	.TaT_room {
		width:49%;
		display:inline-block;
		vertical-align:top;
		border-radius:50
		margin:auto;

	}
	.TaT_room ul {
		text-align:left;
		float:left;
		background-color:aliceblue;
		margin:0;
		padding-left:20px;
	}
	.TaT_room li {
		width:100%;
		float:left;
		padding:2px 2px;
		margin-left:0px;
		font-size:3vw;
	}
	/*Awards and certification*/
	.AandC ul {
		text-align:left;
		padding:0px;
		background-color:aliceblue;
	}
	.AandC li {
		list-style:none;
		text-align:left;
		margin-left:0;
		font-size:2.5vw;
		margin-top:1vh;
	}
	/*About Me*/
	.abtMe {

	}
	.abt_dp_and_introDuc {
		width:100%;
		text-align:center;

	}
	.abt_dp_and_introDuc .dp {
		display:inline-block;
		width:100vw;
		margin-right:1vw;
	}
	.abt_dp_and_introDuc .dp img {
		border-radius:50%;
		width:15vh;
		height:15vh;
	}
	.abt_dp_and_introDuc .introDuc {
		display:inline-block;
		vertical-align:top;
		width:100%;
		margin:2vh auto auto auto;
	}
	.abt_dp_and_introDuc .introDuc p {
		width:100%;
		padding:0;
		margin:0;
		font-size:2.7vw;
		text-align:left;
	}

	.info {
		width:100%;
		font-size:2.9vw;
		text-align:;
	}
	.info .info_mainUl {
		padding:0;
		margin:0;
	}
	
	.contact {
		width:100vw;
	}
	.inputDiv {
		width:100%;
	}
	.contact form {
	background-color:aliceblue;
	}
	.formDivs {
		width:100%;
		margin:5px 5px;
	}
	.formDivsLabel {
		height:20px;
		margin:5px 5px;
	}
	.inputDiv label {
		vertical-align:bottom;
		display:inline-block;
		padding:0px;
	}
	.contact #nId, #eId {
		width:65%;
		border:none;
		height:30px;
		text-align:left;
		vertical-align:top;
		background-color:#AFDCEC;
		outline:none;
		padding:0;
		margin:0;
		text-align:left;
	}
	.contact input[type='text']:hover {
		
	}
	textarea:hover {
		
	}
	textarea {
		width:50%;
		order:none;
		border:none;
		text-align:left;
		outline:none;
		height:70px;
		resize:none;
		background-color:#AFDCEC;
	}
	.contact input[type='submit'] {
		background-color:darkorange;
 		color:black;
 		font-size: 18px;
 		padding:6px 6px;
 		border:none;
 		cursor:pointer;
		border-radius: 5px;
 		text-align: center;
 		margin-left:2px;

	}
	.contact input[type='submit']:hover {
		color:white;
		background-color:black;
	}
		
	.abtMe li {
		list-style:none;
	}
	/*Icons and Mail*/
	.iconsAndMail {
		width:100%;
		background-color:black;
		padding-top:5px;
	}
	
	.mailDiv {
		width:100%;
		color:white;
		text-align:center;
		vertical-align:bottom;
	}
	.mailDiv p { 
		font-size:14px;
		padding:0;
		margin:0;
		color:white;
		
	}
	.mailDiv p a {
		text-decoration:none;
		color:aliceblue;
	}

		/*Footer*/
	.footer {
		width:100%;
		background-color:black;
		text-align:center;
		margin-bottom:0px;
	}

	.footer_center {
		width:100%;
		display:inline-block;
		height:100%;
	}
	
.footer_center {
	color:white;
	text-align:center;
	margin-top:10px;
}
.footer_center span {
	font-size:1.2vw;
}
.footer_center p {
	width:30%;
	margin:auto;
	padding:5px;
	font-size:15px;
	font-weight:bold;
	font-style: oblique;
	margin:0px auto 0px auto;
}
.footer_right {
		margin-top:0;
		width:100%;
		color:white;
		display:inline-block;
		vertical-align:top;
		text-align:center;
	}
	.footer_right span {
		font-size:10px;
		padding:1px;
		color:orangered;
		font-weight:bold;
	}


/*Menu Button and Function*/
.up_menu {
	
}
#g2Top {
	background-color:transparent;
	width:26px;
	height:26px;
	padding:5px;
	border-radius:50%;
	position:fixed;
	right:25px;
	bottom:90px;
	z-index:1;
	border:2px solid red;
	text-align:center;
	font-size:24px;
	margin-bottom:5px;
	cursor:pointer;
	padding:5px;
}
#g2Top span {
	color:darkslategrey;
	font-size:0.9em;
}
#menuBtn {
	background-color:transparent;
	width:28px;
	height:28px;
	padding:5px;
	border-radius:50%;
	position:fixed;
	right:25px;
	bottom:40px;
	z-index:2;
	border:2px solid red;
	cursor:pointer;
	
}
.barOne, .barTwo, .barThree {
	background-color:darkslategrey;
	width:80%;
	height:13%;
	margin:15% auto 10% auto;
	transition:0.3s;
}
.change .barOne {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .barTwo {opacity: 0;}

.change .barThree {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
/*Menu Div*/
 #menuDiv {
 	position:fixed;
 	right:0;
 	bottom:0vh;
 	z-index:1;
 	background-color:orange;
 	width:0vw;
 	height:100vh;
 	border-radius:;
	transition:0.3s;
}
.menuSubDiv {
text-align:center;
margin-top:5vh;
width:100vw;
}
.menuSubDiv button {
	margin:5vh 5vh;
	font-weight:bold;
	background-color:transparent;
	border:2px solid black;
	color:white;
	font-size:20px;
}
.menuSubDiv button:hover {
	background-color:silver;
	color:black;
	transition:0.1s;
	cursor:pointer;
	padding:0px 2px 0px 2px;
}
}
