@media only screen and (min-width: 721px) {

/*Top Bar*/	
		.top_bar {
			margin-top:1vh;
			width:100%;
			display:block;
			height:15vh;
		}
		.t_right {
			float:right;
			text-align:right;
			display:inline-block;
			height:100%;
		}
		.t_left {
			float:left;
			font-weight:bold;
			font-size:40px;
			height:100%;
			display:inline-block;
		}
		.t_left img {
			display:inline-block;
			width:5vw;
			height:5vw;
			vertical-align:top;
			margin-top:;
			border:none;
			padding:2px;
			box-shadow: -10px -10px -10px grey;
		}
		.t_left h3 {
			display:inline-block;
			font-weight:bold;
			font-size:3vw;
			vertical-align:top;
			margin-left:0;
			margin-top:1vw;
		}
		.t_right .icons a {
			margin-right:0.4vw;
			font-size:3vw;
		}
		.inside_t_right {
			text-align:left;
			width:100%;
			display:inline-block;
			vertical-align:top;
		}
		.icons, .seeMyCvDiv {
			width:100%;
			margin-bottom:10px;
			display:inline-block;
		}
		.t_right .seeMyCvDiv button {
			background-color: darkorange;
 			color:black;
 			font-size: 16px;
 			padding: 5px 5px;
 			border: none;
 			cursor: pointer;
			border-radius: 5px;
 			text-align: center;
 			font-weight:bold;
		}
		.t_right .seeMyCvDiv button:hover {
			background-color: black;
  			color: white;
		}
				/*Mixed.................*/
		.heading {
			font-size:2.8vw;
			color:black;
		}
		.subheads {
		font-size:1vw;
		color:darkslategrey;
		width:100%;
	}

		/*Im and Introduction....*/

	.intro {
		width:100%;
		margin-top:10vh;
	}
	.in_left {
		width:65%;
		display:inline-block;
		vertical-align:top;
		margin:0;
		padding:0px;
	}
	.in_left p {
		display:inline-block;

	}
	/*......im..*/
	.im {
		font-weight:bold;
		font-size:2vw;
		display:inline-block;
		vertical-align:top;
		margin-top:0px;
		float:left;
	}
	.im_all {
		height:auto;
		margin-top:5px;
	}
	.im_all, .in_details {
		vertical-align:top;
	}
	.brF, .brL {
		color:darkorange;
		font-weight:bold;
		font-size:2vw;
		display:inline-block;
		vertical-align:top;
		margin-top:0px;
		margin-bottom:0;
	}
	.brF {
		float:left;
	}
	.brL {
		float:right;
		margin-right:;
	}

	.in_left ul{
		display:inline-block;
		vertical-align:top;
		margin-top:0px;
		margin-bottom:0px;
		padding:0px;
		text-align:left;
	}
	.in_left ul li {
		list-style:none;
		text-align:left;
		font-size:2vw;
  		font-weight:bold;
  		vertical-align:top;
  		display:none;
  		width:100%;
	} 
	.in_left .in_details p {
		font-size:1.8vw;
		padding-top:0;
		margin-top:0;
		font-family:arial;
	}

	.in_right {
		width:35%;
		display:inline-block;
		float:right;
	}
	.in_right img {
		width:15vw;
		height:15vw;
		display:inline-block;
		margin-left:2vw;
	}

/*Work ...*/

	.work {
		margin-top:1vw;
	}
	/*Publication*/
	.publication {
  		
	}
	.pub_room {
	}
	.pub_box {
		text-align:left;
		width:18%;
		height:40vh;
		font-size:2vw;
		display:inline-block;
		background-color:aliceblue;
		padding-left:8px;
		margin-right:12px;
		transition: 0.2s;
		box-shadow: 0 0 5px 2px grey;
		position:relative;
	}
	.pub_head, .pub_on, .pub_date, .pub_btn {
		width:100%;
	}
	.pub_head {
		font-size:0.6em;
	}
	.pub_on {
		font-size:0.4em;
	}
	.pub_date {
		font-size:0.3em;
	}
	.pub_btn {
		width:100%;
		vertical-align:bottom;
		position:absolute;
		bottom:5px;
		width:90%;
		text-align:left;
	}
	.pub_btn button {
  		background-color:darkorange;
 		color: black;
 		font-size: 12px;
 		padding:5px 5px;
 		border:none;
 		cursor:pointer;
		border-radius: 5px;
 		text-align: center;
 		font-weight:bold;
		}
	.pub_btn button:hover {
		background-color: black;
  		color: white;
		}

		/*Projects*/

	.proj_box {
		text-align:left;
		width:16%;
		font-size:1vw;
		height:50vh;
		display:inline-block;
		background-color:aliceblue;
		padding-left:7px;
		margin-right:3px;
		vertical-align:top;
		position:relative;
		transition: 0.2s;
		box-shadow: 0 0 5px 2px grey;
		opacity:0.9;
	}
	.proj_box:hover { 
		opacity:1;
	 }
	.proj_icon {
		width:80%;
		text-align:center;
	}
	.proj_box img {
		width:50px;
		height:50px;
		border-radius:50%;
		text-align:center;
	}
	.proj_head {
		width:100%;
		font-size:1em;
	}
	.proj_intro {
		width:100%;
		font-size:0.8em;
	}
	.proj_date {
		width:100%;
		font-size:0.7em;
		vertical-align:bottom;
	}
	.proj_btn {
		width:100%;
		vertical-align:bottom;
		position:absolute;
		bottom:5px;
		width:90%;
		text-align:left;
	}
	.proj_btn button {
		background-color: darkorange;
 		color: black;
 		font-size: 8px;
 		padding: 5px 5px;
 		border: none;
 		cursor: pointer;
		border-radius: 5px;
 		text-align: center;
 		font-weight:bold;
		
		}
	.proj_btn button:hover {
		background-color: black;
  		color: white;
		}
	.proj_btn button:focus {
			border:none;
		}

		/*Skills*/
	.skills {
	}
	.ik_room {

	}
	.ik_box {
	text-align:center;
	width:12%;
	height:28vh;
	display:inline-block;
	vertical-align:top;
	background-color:aliceblue;
	transition: 0.2s;
	box-shadow: 0 0 5px 2px grey;
	
	}
	.ik_box div:nth-child(1) {
		height:50%;
		font-size:3vw;
		background-color:ghostwhite;
		position:relative;
	}
	.iconify {
		font-size:4vw;
		margin-top:10%;
	}

	.ik_box div:nth-child(2) {
		height:50%;
		background-color:black;
		color:white;
	}
	.ik_name {
		font-size:12px;
		width:100%;
		font-weight:bold;
		vertical-align:middle;
	}
	
	/*Tools and Technologies*/
	.ttBox {
		width:23%;
		display:inline-block;
		vertical-align:top;
		border-radius:50
		margin:auto;
		
	}
	.ttBox p {
		width:100%;
		text-align:left;
		font-size:2.5vw;
		margin-top:1px;
		margin-bottom:4px;
		background-color:aliceblue;
	}
	/*Awards and certification*/
	.AandC ul {
		text-align:left;
		padding:0px;
	}
	.AandC li {
		list-style:none;
		text-align:left;
		margin-left:0;
		font-size:2.5vw;
		margin-top:1vh;
	}















}