 /*Universal CSS for all Mobile, tablet, Desktp and other Large Screens*/
 		* {
			font-family: Arial;	
		}
		html {
  			scroll-behavior: smooth;
  			margin-bottom:0px;
  			padding:0px;
			}
		body {
			background-color:ghostwhite;
			padding:0px 1px 0px 1px;
			overflow-x: hidden;
			margin-bottom:0px;
			position:relative;
			
		}
		.container {
			width:auto;
			margin:0;
			padding:0;
			position:relative;
			overflow-x:hidden;
			margin-bottom:0px;
			padding-bottom:0px;
		}
		

 @media only screen and (max-width: 767.9px) {

/*Top Bar*/	
		body {}
		.top_bar {
			width:100%;
			display:block;
			height:20vh;

		} 
		.t_left {
			height:100%;
			display:inline-block;
			width:100%;
			vertical-align:top;
		}
		.t_left img {
			display:inline-block;
			width:9vw;
			height:9vw;
			vertical-align:top;
			box-shadow: -10px -10px -10px grey;
			float:left;
			margin:0;
		}
		.t_left h1 {
			display:inline-block;
			font-weight:bold;
			font-size:6vw;
			vertical-align:top;
			float:left;
			margin:0;
		}

		.seeMyCvDiv {
			width:100%;
			display:inline-block;
			text-align:center;
			margin-top:5vh;

		}
		.seeMyCvDiv button {
			background-color: darkorange;
 			color:black;
 			font-size:3vw;
 			padding: 5px 5px;
 			border: none;
 			cursor: pointer;
			border-radius: 5px;
 			font-weight:bold;
 			vertical-align:;

		}
		.seeMyCvDiv button:hover {
			background-color: black;
  			color: white;
		}
		/*Mixed.................*/
		.heading {
			font-size:5.5vw;
			color:black;
		}
		.subheads {
		font-size:2.9vw;
		color:darkslategrey;
		width:100%;
	}
/*Introduction and gif*/
	.intro {
		width:99%;
		height:77vh;
	}
	.in_left {
		width:100%;
		display:inline-block;
		vertical-align:top;
		margin:auto;
		padding:0px;
	}
	.work, .intro, .abtMe, .contact {
		
	}

	.in_left p {
		
	}
	/*......im..*/
	.im {
		font-weight:bold;
		font-size:5vw;
		display:inline-block;
		vertical-align:top;
		margin-top:3%;
		float:left;
		margin-left:15%;
	}
	.im_all p{
		
	}
	.im_all{
		vertical-align:top;
		text-align:center;
	}

	.in_details { 
		vertical-align:bottom;
		text-align:center;
		margin-top:10vh;

	}
	.in_details p {
		margin:auto;
	}
	.names {
		font-weight:bold;
		font-size:5vw;
		display:inline-block;
		vertical-align:top;
		margin-top:3%;
		float:left;
	}

	.typing {
		font-size:5vw;
		vertical-align:top;
		float:left;
		width:1PX;
		margin-top:2%;
		animation: Blink 0.3s infinite ease;
	}
	@keyframes Blink {
		0% {
			opacity:0
		};
		100% {
			opacity:1
		};
	}
	.in_left .in_details p {
		font-size:3.5vw;
		padding-top:0;
		margin-top:0;
		font-family:sans-serif;
		width:90%;
		text-align:center;
	}

	.in_right {
		width:100%;
		display:inline-block;
		float:right;
		text-align:center;
		margin:5% auto 5% auto;
	}
	.in_right img {
		width:30vw%;
		height:30vw;
		display:inline-block;
		background-color:white;
	}

	/*Work ...*/

	.work {
		position:relative;
		width:99%;
	}
	/*Publication*/
	.publication {
  		
	}
	.pub_room {
		overflow-x:visible;
		overflow-y:hidden;
		white-space:nowrap;
  		width:auto;
  		height:80vw;
  	}
	.pub_box {
		text-align:center;
		width:65%;
		font-size:3vw;
		height:98%;
		display:inline-block;
		background-color:aliceblue;
		margin-right:4px;
		vertical-align:top;
		transition: 0.2s;
		box-shadow: 0 0 5px 2px grey;
		position:relative;
	}
	.pub_head, .pub_on, .pub_date, .pub_btn {
		width:100%;
	}
	.pub_head {
		width:100%;
		height:30%;
		font-size:1.2em;
		white-space: normal;
	}
	.pub_on {
		width:100%;
		height:20%;
		font-size:0.9em;
		white-space: normal;
	}
	.pub_date {
		width:100%;
		height:10%;
		font-size:0.8em;
		vertical-align:bottom;
		white-space: normal;
	}
	.pub_btn {
		width:100%;
		height:10%;
		vertical-align:bottom;
		position:absolute;
		bottom:5px;
		text-align:center;
		white-space: normal;
	}
	.pub_btn button {
  		background-color: darkorange;
 		color: black;
 		font-size:15px;
 		padding: 5px 5px;
 		border: none;
 		cursor: pointer;
		border-radius: 5px;
 		text-align:center;
 		font-weight:bold;
		}
	.pub_btn button:hover {
		background-color: black;
  		color: white;
		}
		/*Projects*/
	.proj_room {
		overflow-x:visible;
		overflow-y:hidden;
		white-space:nowrap;
  		width:auto;
  		height:80vw;
	}
	.proj_box {
		text-align:center;
		width:65%;
		font-size:3vw;
		height:98%;
		display:inline-block;
		background-color:aliceblue;
		margin-right:4px;
		vertical-align:top;
		transition: 0.2s;
		box-shadow: 0 0 5px 2px grey;
		position:relative;

	}
	.proj_box:hover { 
		
	 }
	.proj_icon {
		width:100%;
		height:13%;
		text-align:center;
		vertical-align:top;
	}
	.proj_box img {
		width:40px;
		height:40px;
		border-radius:50%;
		text-align:center;
	}
	.proj_head {
		width:100%;
		height:15%;
		font-size:1.2em;
		white-space: normal;
	}
	.proj_intro {
		width:100%;
		height:35%;
		font-size:0.9em;
		white-space: normal;
	}
	.proj_date {
		width:100%;
		height:10%;
		font-size:0.8em;
		vertical-align:bottom;
		white-space: normal;
	}
	.proj_btn {
		width:100%;
		height:10%;
		vertical-align:bottom;
		position:absolute;
		bottom:5px;
		text-align:center;
		white-space: normal;
	}
	.proj_btn button {
		background-color: darkorange;
 		color: black;
 		font-size:15px;
 		padding: 5px 5px;
 		border: none;
 		cursor: pointer;
		border-radius: 5px;
 		text-align:center;
 		font-weight:bold;
		
		}
	.proj_btn button:hover {
		background-color: black;
  		color: white;
		}
	.proj_btn button:focus {
			border:none;
		}
	/*Skills*/
	.skills {
		width:99%;
	}
	.ik_room {
		overflow-x:visible;
		overflow-y:hidden;
		white-space:nowrap;
  		width:auto;
  		height:25vh;
	}
	.ik_box {
	text-align:center;
	width:35%;
	margin:0 1% 0 1%;
	padding:0;
	height:100%;
	display:inline-block;
	vertical-align:top;
	background-color:aliceblue;
	transition: 0.2s;
	box-shadow: 0 0 5px 2px grey;
	
	}
	.ik_box div:nth-child(1) {
		height:50%;
		background-color:ghostwhite;
		position:relative;
		white-space:normal;
	}
	.iconify {
		font-size:8vw;
		margin-top:10%;
		white-space:normal;
	}

	.ik_box div:nth-child(2) {
		height:50%;
		background-color:black;
		color:white;
		white-space:normal;
	}
	.ik_name {
		font-size:3.5vw;
		vertical-align:text-bottom;
		white-space:normal;
	}
	
	/*Tools and Technologies*/
	.TaT_room {
		width:49%;
		display:inline-block;
		vertical-align:top;
		border-radius:50
		margin:auto;

	}
	.TaT_room ul {
		text-align:left;
		float:left;
		background-color:aliceblue;
		margin:0;
		padding-left:20px;
	}
	.TaT_room li {
		width:100%;
		float:left;
		padding:2px 2px;
		margin-left:0px;
		font-size:3vw;
	}
	/*Awards and certification*/
	.AandC {
		width:99%;
	}
	.AandC ul {
		text-align:left;
		padding:0px;
		background-color:aliceblue;
	}
	.AandC li {
		list-style:none;
		text-align:left;
		margin-left:0;
		font-size:2.5vw;
		margin-top:1vh;
	}
	/*About Me*/
	.abtMe {
		width:99%;

	}
	.abt_dp_and_introDuc {
		width:100%;
		text-align:center;

	}
	.abt_dp_and_introDuc .dp {
		display:inline-block;
		width:100vw;
		margin-right:1vw;
	}
	.abt_dp_and_introDuc .dp img {
		border-radius:50%;
		width:15vh;
		height:15vh;
	}
	.abt_dp_and_introDuc .introDuc {
		display:inline-block;
		vertical-align:top;
		width:100%;
		margin:2vh auto auto auto;
	}
	.abt_dp_and_introDuc .introDuc p {
		width:100%;
		padding:0;
		margin:0;
		font-size:2.7vw;
		text-align:left;
	}

	.info {
		width:100%;
		font-size:2.9vw;
		text-align:;
	}
	.info .info_mainUl {
		padding:0;
		margin:0;
	}
	
	.contact {
		width:100vw;
	}
	.inputDiv {
		width:100%;
	}
	.contact form {
	background-color:#AFDCEC;
	}
	.formDivs {
		width:100%;
		margin:5px 5px;
	}
	.formDivsLabel {
		height:20px;
		margin:5px 5px;
	}
	.inputDiv label {
		vertical-align:bottom;
		display:inline-block;
		padding:0px;
	}
	.contact #name, #email {
		width:60%;
		border:none;
		height:30px;
		text-align:left;
		vertical-align:top;
		
		outline:none;
		padding:0;
		margin:0;
		text-align:left;
	}
	.contact input[type='text']:hover {
		
	}
	textarea:hover {
		
	}
	textarea {
		width:50%;
		order:none;
		border:none;
		text-align:left;
		outline:none;
		height:70px;
		resize:none;
		
	}
	.contact input[type='submit'] {
		background-color:darkorange;
 		color:black;
 		font-size: 18px;
 		padding:6px 6px;
 		border:none;
 		cursor:pointer;
		border-radius: 5px;
 		text-align: center;
 		margin-left:2px;

	}
	.contact input[type='submit']:hover {
		color:white;
		background-color:black;
	}
		
	.abtMe li {
		list-style:none;
	}
	/*Icons and Mail*/
	.iconsAndMail {
		width:100%;
		margin-bottom:1px;
	}
	.icons {
			width:100%;
			text-align:center;

		}
	.icons a {
		margin-right:2vw;
		font-size:7vw;

	}
	.mailDiv {
		width:100%;
		color:white;
		text-align:center;
		vertical-align:bottom;
		margin-bottom:10px;
	}
	.mailDiv p { 
		font-size:3vw;
		padding:0;
		margin:0;
		color:black;
		
	}
	.mailDiv p a {
		text-decoration:none;
	}

		/*Footer*/
	.footer {
		width:100%;
		background-color:black;
		text-align:center;
		margin-bottom:0px;
	}

	.footer_center {
		width:100%;
		display:inline-block;
		height:100%;
	}
	
.footer_center {
	color:white;
	text-align:center;
	margin-top:10px;
}
.footer_center span {
	font-size:2.5vw;
}
.footer_center p {
	width:30%;
	margin:auto;
	padding:5px;
	font-size:15px;
	font-weight:bold;
	font-style: oblique;
	margin:0px auto 0px auto;
}
.footer_right {
		margin-top:0;
		width:100%;
		color:white;
		display:inline-block;
		vertical-align:top;
		text-align:center;
	}
	.footer_right span {
		font-size:10px;
		padding:1px;
		color:orangered;
		font-weight:bold;
	}


/*Menu Button and Function*/
.up_menu {
	
}
#g2Top {
	background-color:transparent;
	width:26px;
	height:26px;
	padding:5px;
	border-radius:50%;
	position:fixed;
	right:25px;
	bottom:90px;
	z-index:1;
	border:2px solid #f70d1a;
	text-align:center;
	font-size:24px;
	margin-bottom:5px;
	cursor:pointer;
	padding:5px;
	transition:0.3s;
	pointer-events:none;
	opacity:0;
}
#g2Top span {
	color:darkslategrey;
	font-size:0.9em;
}
#menuBtn {
	background-color:transparent;
	width:30px;
	height:30px;
	padding:5px;
	border-radius:50%;
	position:fixed;
	right:25px;
	bottom:40px;
	z-index:2;
	border:2px solid #f70d1a;
	cursor:pointer;
	display:block;
	box-sizing:content-box;
	
}
.barOne, .barTwo, .barThree {
	background-color:darkslategrey;
	width:80%;
	height:13%;
	margin:15% auto 10% auto;
	transition:0.4s;
}
.change .barOne {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .barTwo {opacity: 0;}

.change .barThree {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
/*Menu Div*/
 #menuDiv {
 	position:fixed;
 	right:2vw;
	bottom:40px;
	height:0vh;
 	background-color:grey;
 	width:25vw;
 	border-radius:;
	transition:0.4s;
	z-index:2;
}
.menuSubDiv {
text-align:center;
margin-top:5vh;
width:100%;
}
.menuSubDiv button {
	margin:0 0 40% 0;
	font-weight:bold;
	background-color:white;
	border-radius:5px;
	font-size:16px;
	max-width:95%;
	
}
.menuSubDiv button:hover {
	color:black;
	transition:0.1s;
	cursor:pointer;
	font-size:17px;
}
}

























